#!/usr/bin/make -f
#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie
CFLAGS ?= $(shell dpkg-buildflags --get CFLAGS)
LDFLAGS ?= $(shell dpkg-buildflags --get LDFLAGS)
TESTARCH := $(shell uname -m)
WITH_HTTP2 := $(shell printf \
	"Source: nginx\nBuild-Depends: libssl-dev (>= 1.0.1)\n" | \
	dpkg-checkbuilddeps - >/dev/null 2>&1 && \
	echo "--with-http_v2_module")
PKGS = nginx nginx-dbg \
	nginx-module-xslt \
	nginx-module-geoip \
	nginx-module-image-filter \
	nginx-module-perl \
	nginx-module-stream \
	nginx-module-mail \
	nginx-module-njs \
	nginx-module-pagespeed \
	nginx-module-http-headers-more \
	nginx-module-lua \
	nginx-module-naxsi \
	nginx-module-lenght-hiding-filter \
	nginx-module-session-binding-proxy \
	nginx-module-devel-kit \
	nginx-module-upstream-order \
	nginx-module-rds-json \
	nginx-module-testcookie \
	nginx-module-brotli \
	nginx-module-postgres \
	nginx-module-nchan \
	nginx-module-http-auth-pam \
	nginx-module-http-echo \
	nginx-module-upstream-fair \
	nginx-module-cache-purge \
	nginx-module-fancyindex \
	nginx-module-upload-progress \
	nginx-module-http-subs-filter \
	nginx-module-graphite \
	nginx-module-vts \
	nginx-module-ct \
	nginx-module-rtmp \
	nginx-module-ts \
	nginx-module-sts \
	nginx-module-stream-sts
COMMON_CONFIGURE_ARGS := \
	--prefix=/etc/nginx \
	--sbin-path=/usr/sbin/nginx \
	--modules-path=/usr/lib/nginx/modules \
	--conf-path=/etc/nginx/nginx.conf \
	--error-log-path=/var/log/nginx/error.log \
	--http-log-path=/var/log/nginx/access.log \
	--pid-path=/var/run/nginx.pid \
	--lock-path=/var/run/nginx.lock \
	--http-client-body-temp-path=/var/cache/nginx/client_temp \
	--http-proxy-temp-path=/var/cache/nginx/proxy_temp \
	--http-fastcgi-temp-path=/var/cache/nginx/fastcgi_temp \
	--http-uwsgi-temp-path=/var/cache/nginx/uwsgi_temp \
	--http-scgi-temp-path=/var/cache/nginx/scgi_temp \
	--user=nginx \
	--group=nginx \
	--with-http_ssl_module \
	--with-http_realip_module \
	--with-http_addition_module \
	--with-http_sub_module \
	--with-http_gunzip_module \
	--with-http_gzip_static_module \
	--with-http_random_index_module \
	--with-http_secure_link_module \
	--with-http_stub_status_module \
	--with-http_auth_request_module \
	--with-http_xslt_module=dynamic \
	--with-http_image_filter_module=dynamic \
	--with-http_geoip_module=dynamic \
	--with-http_perl_module=dynamic \
	--with-stream=dynamic \
	--with-stream_ssl_module \
	--with-stream_ssl_preread_module \
	--with-stream_geoip_module=dynamic \
	--with-mail=dynamic \
	--with-mail_ssl_module \
	--add-dynamic-module=debian/extra/njs/nginx \
	--add-dynamic-module=debian/extra/ngx_pagespeed \
	--add-dynamic-module=debian/extra/headers-more-nginx-module \
	--add-dynamic-module=debian/extra/lua-nginx-module \
	--add-dynamic-module=debian/extra/naxsi/naxsi_src/ \
	--add-dynamic-module=debian/extra/nginx-length-hiding-filter-module \
	--add-dynamic-module=debian/extra/Session-Binding-Proxy/nginx_session_binding_proxy_module \
	--add-dynamic-module=debian/extra/ngx_devel_kit \
	--add-dynamic-module=debian/extra/ngx_http_upstream_order \
	--add-dynamic-module=debian/extra/rds-json-nginx-module \
	--add-dynamic-module=debian/extra/testcookie-nginx-module \
	--add-dynamic-module=debian/extra/ngx_brotli \
	--add-dynamic-module=debian/extra/ngx_postgres \
	--add-dynamic-module=debian/extra/nchan \
	--add-dynamic-module=debian/extra/ngx_http_auth_pam_module \
	--add-dynamic-module=debian/extra/echo-nginx-module \
	--add-dynamic-module=debian/extra/nginx-upstream-fair \
	--add-dynamic-module=debian/extra/ngx_cache_purge \
	--add-dynamic-module=debian/extra/ngx-fancyindex \
	--add-dynamic-module=debian/extra/nginx-upload-progress-module \
	--add-dynamic-module=debian/extra/ngx_http_substitutions_filter_module \
	--add-dynamic-module=debian/extra/graphite-nginx-module \
	--add-dynamic-module=debian/extra/nginx-module-vts \
	--add-dynamic-module=debian/extra/nginx-ct \
	--add-dynamic-module=debian/extra/nginx-rtmp-module \
	--add-dynamic-module=debian/extra/nginx-ts-module \
	--add-dynamic-module=debian/extra/nginx-module-sts \
	--add-dynamic-module=debian/extra/nginx-module-stream-sts \
	--with-threads \
	--with-http_slice_module \
	--with-file-aio \
	$(WITH_HTTP2) \
	--with-cc-opt="$(CFLAGS) -DTCP_FASTOPEN=23" \
	--with-ld-opt="$(LDFLAGS)"

%:
	dh $@ 

override_dh_auto_configure: configure_debug

override_dh_strip:
	dh_strip --dbg-package=nginx-dbg

override_dh_auto_build:
#	cat objs/Makefile

	dh_auto_build
	mv objs/nginx objs/nginx-debug
	mv objs/ngx_http_xslt_filter_module.so objs/ngx_http_xslt_filter_module-debug.so
	mv objs/ngx_http_image_filter_module.so objs/ngx_http_image_filter_module-debug.so
	mv objs/ngx_http_geoip_module.so objs/ngx_http_geoip_module-debug.so
	mv objs/ngx_http_perl_module.so objs/ngx_http_perl_module-debug.so
	mv objs/src/http/modules/perl/blib/arch/auto/nginx/nginx.so objs/src/http/modules/perl/blib/arch/auto/nginx/nginx-debug.so
	mv objs/ngx_stream_module.so objs/ngx_stream_module-debug.so
	mv objs/ngx_mail_module.so objs/ngx_mail_module-debug.so
	mv objs/ngx_http_js_module.so objs/ngx_http_js_module-debug.so
	mv objs/ngx_stream_js_module.so objs/ngx_stream_js_module-debug.so
	mv objs/ngx_stream_geoip_module.so objs/ngx_stream_geoip_module-debug.so
	mv objs/ngx_pagespeed.so objs/ngx_pagespeed-debug.so
	mv objs/ngx_http_headers_more_filter_module.so objs/ngx_http_headers_more_filter_module-debug.so
	mv objs/ngx_http_lua_module.so objs/ngx_http_lua_module-debug.so
	mv objs/ngx_http_naxsi_module.so objs/ngx_http_naxsi_module-debug.so
	mv objs/ngx_http_length_hiding_filter_module.so objs/ngx_http_length_hiding_filter_module-debug.so
	mv objs/ngx_http_session_binding_proxy_module.so objs/ngx_http_session_binding_proxy_module-debug.so
	mv objs/ndk_http_module.so objs/ndk_http_module-debug.so
	mv objs/ngx_http_upstream_order_module.so objs/ngx_http_upstream_order_module-debug.so
	mv objs/ngx_http_rds_json_filter_module.so objs/ngx_http_rds_json_filter_module-debug.so
	mv objs/ngx_http_testcookie_access_module.so objs/ngx_http_testcookie_access_module-debug.so
	mv objs/ngx_http_brotli_filter_module.so objs/ngx_http_brotli_filter_module-debug.so
	mv objs/ngx_http_brotli_static_module.so objs/ngx_http_brotli_static_module-debug.so
	mv objs/ngx_postgres_module.so objs/ngx_postgres_module-debug.so
	mv objs/ngx_nchan_module.so objs/ngx_nchan_module-debug.so
	mv objs/ngx_http_auth_pam_module.so objs/ngx_http_auth_pam_module-debug.so
	mv objs/ngx_http_echo_module.so objs/ngx_http_echo_module-debug.so
	mv objs/ngx_http_upstream_fair_module.so objs/ngx_http_upstream_fair_module-debug.so
	mv objs/ngx_http_cache_purge_module.so objs/ngx_http_cache_purge_module-debug.so
	mv objs/ngx_http_fancyindex_module.so objs/ngx_http_fancyindex_module-debug.so
	mv objs/ngx_http_uploadprogress_module.so objs/ngx_http_uploadprogress_module-debug.so
	mv objs/ngx_http_subs_filter_module.so objs/ngx_http_subs_filter_module-debug.so
	mv objs/ngx_http_graphite_module.so objs/ngx_http_graphite_module-debug.so
	mv objs/ngx_http_vhost_traffic_status_module.so objs/ngx_http_vhost_traffic_status_module-debug.so
	mv objs/ngx_ssl_ct_module.so objs/ngx_ssl_ct_module-debug.so
	mv objs/ngx_http_ssl_ct_module.so objs/ngx_http_ssl_ct_module-debug.so
	mv objs/ngx_mail_ssl_ct_module.so objs/ngx_mail_ssl_ct_module-debug.so
	mv objs/ngx_stream_ssl_ct_module.so objs/ngx_stream_ssl_ct_module-debug.so
	mv objs/ngx_rtmp_module.so objs/ngx_rtmp_module-debug.so
	mv objs/ngx_http_ts_module.so objs/ngx_http_ts_module-debug.so
	mv objs/ngx_http_stream_server_traffic_status_module.so objs/ngx_http_stream_server_traffic_status_module-debug.so
	mv objs/ngx_stream_server_traffic_status_module.so objs/ngx_stream_server_traffic_status_module-debug.so
	CFLAGS="" ./configure $(COMMON_CONFIGURE_ARGS)
	dh_auto_build

configure_debug:
ifeq ($(TESTARCH), x86_64)
# https://dl.google.com/dl/page-speed/psol/1.13.35.2-x64.tar.gz
	tar xfz $(CURDIR)/debian/extra/ngx_pagespeed/1.13.35.2-x64.tar.gz -C $(CURDIR)/debian/extra/ngx_pagespeed/
endif
ifeq ($(TESTARCH), amd64)
	tar xfz $(CURDIR)/debian/extra/ngx_pagespeed/1.13.35.2-x64.tar.gz -C $(CURDIR)/debian/extra/ngx_pagespeed/
endif
# https://dl.google.com/dl/page-speed/psol/1.13.35.2-ia32.tar.gz
ifeq ($(TESTARCH), i686)
	tar xfz $(CURDIR)/debian/extra/ngx_pagespeed/1.13.35.2-ia32.tar.gz -C $(CURDIR)/debian/extra/ngx_pagespeed/
endif
ifeq ($(TESTARCH), i386)
	tar xfz $(CURDIR)/debian/extra/ngx_pagespeed/1.13.35.2-ia32.tar.gz -C $(CURDIR)/debian/extra/ngx_pagespeed/
endif
# Builds with brotli 8d3fdc1dfe9a89079c18fd6428f19cac3edf53de
	tar xfz $(CURDIR)/debian/extra/ngx_brotli/brotli.tar.gz -C $(CURDIR)/debian/extra/ngx_brotli/deps/brotli/ --strip-components=1
	CFLAGS="" ./configure $(COMMON_CONFIGURE_ARGS) \
		--with-debug

override_dh_auto_install:
	sed -e 's/%%PROVIDES%%/nginx/g' \
		-e 's/%%DEFAULTSTART%%/2 3 4 5/g' \
		-e 's/%%DEFAULTSTOP%%/0 1 6/g' \
		< debian/init.d.in > debian/init.d
	dh_auto_install
	mkdir -p debian/nginx/etc/init.d debian/nginx/etc/default \
		debian/nginx/usr/lib/nginx/modules
	sed -e 's/%%PROVIDES%%/nginx-debug/g' \
		-e 's/%%DEFAULTSTART%%//g' \
		-e 's/%%DEFAULTSTOP%%/0 1 2 3 4 5 6/g' \
		< debian/init.d.in > debian/debug.init.d
	/usr/bin/install -m 755 debian/debug.init.d \
		debian/nginx/etc/init.d/nginx-debug
	/usr/bin/install -m 644 debian/nginx-debug.default \
		debian/nginx/etc/default/nginx-debug
	/usr/bin/install -m 644 debian/nginx.conf debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/win-utf debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/koi-utf debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/koi-win debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/mime.types debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/scgi_params debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/fastcgi_params debian/nginx/etc/nginx/
	/usr/bin/install -m 644 conf/uwsgi_params debian/nginx/etc/nginx/
	/usr/bin/install -m 644 debian/expires.conf debian/nginx/etc/nginx/
	/usr/bin/install -m 644 debian/cloudflare-ip.rules debian/nginx/etc/nginx/
	/usr/bin/install -m 644 debian/naxsi-in-location.rules debian/nginx/etc/nginx/
	/usr/bin/install -m 644 debian/naxsi_core.rules debian/nginx/etc/nginx/
	/usr/bin/install -m 644 debian/naxsi.rules debian/nginx/etc/nginx/
	/usr/bin/install -m 644 debian/cloudflare-origin-pulls.rules debian/nginx/etc/nginx/
	/usr/bin/install -m 400 debian/cloudflare-origin-pulls.crt debian/nginx/etc/nginx/ssl/
	/usr/bin/install -m 755 debian/bin/nginx-cache-purge debian/nginx/usr/sbin/
	/usr/bin/install -m 644 html/index.html \
		debian/nginx/usr/share/nginx/html/
	/usr/bin/install -m 644 html/50x.html \
		debian/nginx/usr/share/nginx/html/
	/usr/bin/install -m 644 debian/nginx.vh.default.conf \
		debian/nginx/etc/nginx/sites-available/default.conf
	/usr/bin/install -m 755 objs/nginx  debian/nginx/usr/sbin/
	/usr/bin/install -m 755 objs/nginx-debug  debian/nginx/usr/sbin/
	cd debian/nginx/etc/nginx && /bin/ln -s \
		../../usr/lib/nginx/modules modules && cd -

override_dh_gencontrol:
	for p in $(PKGS); do \
		if [ -e debian/$$p.version ]; then \
			dpkg-gencontrol -p$$p -ldebian/changelog -Tdebian/$$p.substvars -Pdebian/$$p -v`cat debian/$$p.version`~`lsb_release -cs`; \
		else \
			dpkg-gencontrol -p$$p -ldebian/changelog -Tdebian/$$p.substvars -Pdebian/$$p ; \
		fi ; \
	done

override_dh_clean:
	dh_clean
	rm -f debian/*init.d
